@import '../../template';
@import '../../variables';

.container {
   width: 1,123px;
   height: 64px;
   padding: 16px;
   gap: 16px;
   border-radius: var(--CornerSmall);
   border: 1px;
   border-right: 1px solid $colorBorder;
   background: $colorBackground;
}