@font-face {
   font-family: 'PT Root UI';
   src: url(/fonts/PtRootUI/PT-Root-UI_Regular.ttf);
 }
// Шрифт
$font: 'PT Root UI', sans-serif;
// Фон 
$colorBackground: #FFFFFF;
$colorBackgroundGrey: #F7F7F7;
$colorBackgroundBlue: #F2F8FE;

//цвета текста
$colorText: #404040;
$colorTextUnactive: #747474;
$colorTextlink: #0076F5;


// цвета бордеров
$colorBorder: #E5E5EA;