@font-face {
   font-family: 'PT Root UI';
   src: url(/fonts/PtRootUI/PT-Root-UI_Regular.ttf);
 }
// Шрифт
$font: 'PT Root UI', sans-serif;
// Фон 
$colorBackground: #FFFFFF;
$colorBackgroundGrey: #F7F7F7;

//цвета текста
$colorText: #404040;

$colorTextUnactive: #747474;
// $colorTextActive: